@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --white: #FFFFFF;
    --navy: #2C3B6F;
    --blue: #002BC2;
    --black: #000000;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid var(--blue);
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: var(--white);

    div {
        display: none;
        gap: 3px;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 24px;
            height: 4px;
            background-color: var(--blue);
            border-radius: 4px;
        }
    }

    ul {
        display: flex;
        list-style: none;
        padding-left: 1.5rem;

        li {
            padding: 0 0.6rem;
            color: var(--blue);
            font-family: 'Inter';

            a {
                text-decoration: none;
            }
        }

        li:not(:first-child) {
            border-left: 2px solid var(--blue);
        }
    }

    h3 {
        font-size: 2.5rem;
        font-family: 'Jura';
        font-weight: 400;
        color: var(--black);
        margin: 0.4rem 1.5rem;

        span {
            color: var(--blue);
        }
    }
}

@media (max-width: 650px) {
    .navbarContainer div {
        display: flex;
        padding-left: 1.5rem;
    }

    .navbarContainer ul {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 0fr;
        position: absolute;
        top: 100%;
        background-color: var(--white);
        width: 100%;
        padding-bottom: 1rem;

        li {
            padding: 0;
        }
        li:not(:first-child) {
            border-left: none;
        }
    }
}