@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --white: #FFFFFF;
    --navy: #2C3B6F;
    --blue: #002BC2;
    --black: #000000;
}

.aboutContainer {
    display: grid;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: var(--navy);
    grid-template-columns: 1fr 1fr;
    margin: 0rem 5rem 5rem 5rem;

    div {
        width: 100%;
        background-size: cover;
        height: auto;
    
        img {
            width: 100%; 
            aspect-ratio: 1/1;
            object-fit: cover;
            display: block;
        }
    }

    figure {
        background-color: var(--white);

        h2 {
            text-align: center;
            font-size: 2.5rem;
            font-family: 'Jura';
            color: var(--blue);
            font-weight: 400;
            margin: 4rem 0;
        }

        p {
            font-size: 1.2rem;
            font-family: 'Inter';
            margin: 3rem;
        }

    }
}

@media (max-width: 1200px) {
    .aboutContainer {
        grid-template-columns: 1fr;
    }
}